/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Variáveis */
:root {
    --cor-primaria-marrom: #EBBA7E;
    --cor-secundaria-branca: #FFFFFF; 
    --cor-terciaria-azul: #9AE1D4;
    --cor-quartenaria-laranja: #FF7E33;
    --cor-quintenaria-bege: #EFD1AC;
    --cor-quintenaria-bege2: #E7B77C;
    --cor-background: #F0F2F2;
    --cor-fonte-titulos-texto1: #0A1E26;
    --cor-fonte-titulos2: #F25C05;
    --cor-fonte-titulos3: #03997E;
    --cor-fonte-texto1: #FFFFFF;
    --cor-fonte-hover: ;
    --cor-fonte-botoes1: #FF7E33;
    --cor-fonte-botoes2: #04BF9D;
    --poppins-font: "Poppins", sans-serif;
    --Montserrat-Alternates-font:"Montserrat Alternates", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--cor-background); */

}
.part1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-background);
}
.left{
    position: relative;
    background-color: var(--cor-background);
    width: 50%;
    height: 90vh;
    background-image: url(/img/rastro_patinhas.png);
    background-size: contain;
    background-repeat: no-repeat;

}
.right{
    position: relative;
    background-color: var(--cor-primaria-marrom);
    width: 50%;
    height: 90vh;
    background-image: url(/img/rastro_patinhas2.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;

}
.dogbored{
    position: absolute;
    background-color: transparent;
    margin-top: 44vh;
        img{
        background-color: transparent;
        width: 100%;
        margin-left: -12vw;
    }
}
.conteudo{
    position: absolute;
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    h1{
        font-family: var(--Montserrat-Alternates-font);
        font-weight: 500;
        font-style: normal;
        font-size: 4em;
         filter: drop-shadow(-7px 2px 7px rgba(0, 0, 0, 0.3)); /* propriedade para mexer na sombra do texto */
        background-color: transparent;
        padding: 8vh;
    }
    span{
        background-color: transparent;
        color: var(--cor-fonte-titulos2);
        font-weight: 700;
    }

}
.conteudo2{
    background-color: transparent;
    .botoes{
        width: 15vw;
        display: flex;
        flex-direction: column;
        margin-bottom: -9vh;
        
    }
    .bt1{
        background-color: var(--cor-fonte-botoes1);
        height: 30px;
        border-radius: 20px;
        border: none;
        color: var(--cor-fonte-texto1);
        font-family: var(--Montserrat-Alternates-font);
        font-weight: 600;
        font-style: italic;
        margin-bottom: 2vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .icone_botao{
            background-color: transparent;
            width: 1.5vw;
        }
    }
    .bt2{
        background-color: var(--cor-fonte-botoes2);
        height: 30px;
        width: 10vw;
        border-radius: 20px;
        border: none;
        color: var(--cor-fonte-texto1);
        font-family: var(--Montserrat-Alternates-font);
        font-weight: 600;
        font-style: italic;
    }
}
.part2{
    background-image: url(/img/Group\ 85.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 160vh;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-background);
    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.textos{
    width: 75vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    p{
        text-align: center;
        color: var(--cor-fonte-titulos-texto1);
        font-family: var(--Montserrat-Alternates-font);
        font-weight: 500;
        font-style: normal;
        font-size: 2em;
    }
    h2{
        color: var(--cor-fonte-titulos3);
        font-family: var(--Montserrat-Alternates-font);
        font-weight: 600;
        font-style: normal;
        font-size: 3.3em;
    }
}
.caroussel{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.ONGs{
    color: var(--cor-fonte-titulos2);
    font-family: var(--Montserrat-Alternates-font);
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
    img{
        width: 100%;
    }
}
body::-webkit-scrollbar {
    width: 5px; /* largura dentro do scrollbar */
    
  }
  body::-webkit-scrollbar-track {
    background: var(--cor-background);/* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 20px;/* roundness of the scroll thumb */
    border: 3px solid var(--cor-primaria-marrom);  /* creates padding around scroll thumb */
  }
  
  
